﻿@model XHouse.Model.Escenas.Escena

<!--Codigo viejo del titulo----<h2>Details</h2>-->

<!--Aca le puse el tamaño igual que las otras subpaginas, pero en detalles de HISTORIAL esta mas grande el
    titulo yo lo pondria igual alla como estos-->
<!--CODIGO NUEVO QUE APARECE EL TITULO EN EL CUERPO DE LA PAGINA-->
<div class="row">
    <div class="col-xs-12 col-md-10 col-md-offset-1">
        
        <h3 class="mb20">Detalles de la  Escena #@Html.DisplayFor(model => model.Id)</h3>

        <table class="table table-striped">
            <tr>
                <td><b>@Html.DisplayNameFor(model => model.Id)</b></td>
                <td>@Html.DisplayFor(model => model.Id)</td>
            </tr>
     
            <tr>
                <td><b>@Html.DisplayNameFor(model => model.Nombre)</b></td>
                <td>@Html.DisplayFor(model => model.Nombre)</td>
            </tr>
            <tr>
                <td><b>@Html.DisplayNameFor(model => model.Descripcion)</b></td>
                <td>@Html.DisplayFor(model => model.Descripcion)</td>
            </tr>
            <!-- Esto los puse para que quede mas completo despues me dicen que quieren que este-->
            <tr>
                <td><b>@Html.DisplayNameFor(model => model.EstadoAparatos)</b></td>
                <td>@Html.DisplayFor(model => model.EstadoAparatos)</td>
            </tr>
            <tr>
                <td><b>@Html.DisplayNameFor(model => model.TimerTriggers)</b></td>
                <td>@Html.DisplayFor(model => model.TimerTriggers)</td>
            </tr>
            <!-- Esto 2 de arriba no se los otros me imagine que podrian ir-->
        </table>

        <p class="mt20">
            @Html.ActionLink("Ir a Edición", "Edit", new { id=Model.Id }) |
            @Html.ActionLink("Volver a la lista", "Index")
        </p>
    </div>
</div>
<!--FIN DEL CODIGO NUEVO----->


<!-- Codigo viejo antes estaba esto
    <fieldset>
        <legend>Escena</legend>

        <div class="display-label">
            @Html.DisplayNameFor(model => model.Nombre)
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.Nombre)
        </div>
    </fieldset>
    <p>
        @Html.ActionLink("Ir a Edicion", "Edit", new { id=Model.Id }) |
        @Html.ActionLink("Volver Atras", "Index")
    </p>

    -->