﻿@model IEnumerable<XHouse.Model.Escenas.Escena>

@{
  ViewBag.Title = "Escenas";
}

<div class="row">
  <div class="col-xs-12 col-md-10 col-md-offset-1">
      
      <h2>Escenas</h2>
      <!--esto agregue para ver el boton de nueva escena-->
      <a class="btn btn-success white mt20 mb20" href="@Url.Action("Create", "Escenas")" >
          <span class="glyphicon glyphicon-plus"></span> Nueva Escena
      </a>
      <!--hasta aca-->
      <!-- Este es el codigo viejo para crear una nueva escena
          <p>
              @Html.ActionLink("Create New", "Create")
          </p>
          -->


      <table class="table">
          <thead>
              <tr>
                  
                  <th>Id</th>
                  <th>Nombre</th>
                  <th>Descripción</th>
                  <th>Acciones</th>
              </tr>
          </thead>
          <tbody>
              @foreach (var item in Model)
              {
                  <tr>
                      <td>@item.Id</td>
                      <td>@item.Nombre</td>
                      <td>@item.Descripcion</td>
    
                      <td>
                          <a class="btn btn-info btn-xs white" href="@Url.Action("Edit", "Escenas", new { id = item.Id})">
                              <span class="glyphicon glyphicon-pencil"></span> Editar
                          </a>
                          <a class="btn btn-info btn-xs white" href="@Url.Action("Details", "Escenas", new { id = item.Id})">
                              <span class="glyphicon glyphicon-search"></span> Detalles
                          </a>
                          <!--Modifique la parte  de eliminar como esta por ejemplo en tipo aparato con eso es necesario-->
                          <a class="btn btn-danger btn-xs white" onclick="return confirm('¿Esta seguro que desea eliminar la escena?');" href="@Url.Action("Delete", "Escenas", new { id = item.Id })">
                                    <span class="glyphicon glyphicon-remove"></span> Eliminar
                                </a>
                          <!--FIn del codigo que modifiqueModifique la parte  de eliminar -------------------------------->

                  <!--  <a class="btn btn-danger btn-xs white" href="@Url.Action("Delete", "Escenas", new { id = item.Id})">
                            <span class="glyphicon glyphicon-remove"></span> Eliminar
                        </a>
                     ####Esto no va mas asi que se tendria que sacar  Delete.cshtml######-->
                      </td>
                  </tr>
              }
          </tbody>
      </table>
  </div>
</div>

<!-- Codigo viejo en la otra ediciom}n
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nombre)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Nombre)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
HASTA ACA-->