﻿.white, .white a {
  color: #fff;
}

.mb10 { margin-bottom: 10px; }

.mb20 { margin-bottom: 20px; }

.mt20 { margin-top: 20px; }

.home  {
	background-image: url("../Images/Home.jpg");
	height: 710px; position: inherit; background-size: cover; background-repeat: no-repeat;
}
