﻿@model XHouse.Model.Aparatos.TipoAparato

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>TipoAparato</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Nombre)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Nombre)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Descripcion)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Descripcion)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Habilitado)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Habilitado)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.RangoTopeInferior)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.RangoTopeInferior)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.RangoTopeSuperior)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.RangoTopeSuperior)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.PuedeApagarse)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.PuedeApagarse)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.EstadoApagado)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.EstadoApagado)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
