﻿@using System.Web.UI.WebControls
@using XHouseWeb.App_Code
@{
    ViewBag.Title = "Home";
}



<div class="home" >
    <p>@TempData["18"]</p>
</div>

<footer>
    <p style="margin-top: -20px; float: right; color: white;">&copy; 2013 XHouse Development Team</p>
</footer>
