﻿@model IEnumerable<XHouse.Model.Ambiente>

@{
    ViewBag.Title = "Ambientes";
}

<div class="row">
  <div class="col-xs-12 col-md-10 col-md-offset-1">

    <h2>Ambientes</h2>

    <a class="btn btn-success white mt20 mb20" href="@Url.Action("Create", "Ambientes")" >
      <span class="glyphicon glyphicon-plus"></span> Nuevo Ambiente
    </a>

    <table class="table">
      <thead>
        <tr>
          <th>Id</th>
          <th>Nombre</th>
          <th>Descripción</th>
          <th>Cantidad de Aparatos</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
       @foreach (var i in Model)
       {
         <tr>
           <td>@i.Id</td>
           <td>@i.Nombre</td>
           <td>@i.Descripcion</td>
           <td>@i.Aparatos.Count</td>
           <td>
            <a class="btn btn-info btn-xs white" href="@Url.Action("Edit", "Ambientes", new { id = i.Id})">
              <span class="glyphicon glyphicon-pencil"></span> Editar
            </a>
            <a class="btn btn-warning btn-xs white" href="@Url.Action("Configure", "Ambientes", new { id = i.Id})">
              <span class="glyphicon glyphicon-cog"></span> Configurar
            </a>

              <!--Modifique la parte  de eliminar como esta por ejemplo en tipo aparato con eso es necesario-->
                          <a class="btn btn-danger btn-xs white" onclick="return confirm('¿Esta seguro que desea eliminar este Ambiente?');" href="@Url.Action("Delete", "Ambientes", new { id = i.Id })">
               <span class="glyphicon glyphicon-remove"></span> Eliminar
</a>
               <!-- Esto no va ademas no tiene para relanzar al stio que lo mandaba 
                    <a class="btn btn-danger btn-xs white" href="@Url.Action("Delete", "Ambientes", new { id = i.Id})">
                   <span class="glyphicon glyphicon-remove"></span> Eliminar
                                                                      </a>
    HASTA ACA no va este codigo lo dejo para ver los cambios-->
          </td>
         </tr>
       }
      </tbody>
    </table>

  </div>
</div>
