﻿@model IEnumerable<XHouse.Model.Historial>

@{
    ViewBag.Title = "Historial";
}

<div class="row">
  <div class="col-xs-12 col-md-10 col-md-offset-1">
    <h2 class="mb20">Historial</h2>
    
    <table class="table table-striped">
      <tr>
        <th>
          # Evento
        </th>
        <th>
          @Html.DisplayNameFor(model => model.Fecha)
        </th>
        <th>
          @Html.DisplayNameFor(model => model.ModuloNombre)
        </th>
        <th>
          @Html.DisplayNameFor(model => model.AparatoNombre)
        </th>
        <th>
          @Html.DisplayNameFor(model => model.Accion)
        </th>
        <th>
          @Html.DisplayNameFor(model => model.UsuarioNombre)
        </th>
        <th></th>
      </tr>

      @foreach (var item in Model) {
        <tr>
          <td>
            @Html.DisplayFor(modelItem => item.Id)
          </td>
          <td>
            @Html.DisplayFor(modelItem => item.Fecha)
          </td>
          <td>
            @Html.DisplayFor(modelItem => item.ModuloNombre)
          </td>
          <td>
            @Html.DisplayFor(modelItem => item.AparatoNombre)
          </td>
          <td>
            @Html.DisplayFor(modelItem => item.Accion)
          </td>
          <td>
            @Html.DisplayFor(modelItem => item.UsuarioNombre)
          </td>
          <td>
            <a class="btn btn-info btn-xs white" href="@Url.Action("Details", "Historial", new { id = item.Id })">
              <span class="glyphicon glyphicon-search"></span> Detalles
            </a>
          </td>
        </tr>
    }
    </table>
  </div>
</div>



  
