﻿@model XHouse.Model.Historial

@{
    ViewBag.Title = "Details";
}

<div class="row">
  <div class="col-xs-12 col-md-10 col-md-offset-1">

    <h2 class="mb20">Detalles del Evento #@Html.DisplayFor(model => model.Id)</h2>

    <table class="table table-striped">
      <tr>
        <td><b>@Html.DisplayNameFor(model => model.Fecha)</b></td>
        <td>@Html.DisplayFor(model => model.Fecha)</td>
      </tr>
      <tr>
        <td><b>@Html.DisplayNameFor(model => model.UsuarioNombre)</b></td>
        <td>@Html.DisplayFor(model => model.UsuarioNombre)</td>
      </tr>
      <tr>
        <td><b>@Html.DisplayNameFor(model => model.ModuloNombre)</b></td>
        <td>@Html.DisplayFor(model => model.ModuloNombre)</td>
      </tr>
      <tr>
        <td><b>@Html.DisplayNameFor(model => model.AparatoNombre)</b></td>
        <td>@Html.DisplayFor(model => model.AparatoNombre)</td>
      </tr>
      <tr>
        <td><b>@Html.DisplayNameFor(model => model.Accion)</b></td>
        <td>@Html.DisplayFor(model => model.Accion)</td>
      </tr>
    </table>
    
    <p class="mt20">
      @Html.ActionLink("Volver a la lista", "Index", "Historial")
    </p>

  </div>
</div>
