﻿@model XHouse.Model.Escenas.Escena

<!--ESTE YA NO ES NECESARIO DIRECTAMENTE TIRA UN SPAN PARA LA ELIMINACION DE LA ESCENA EN EL LISTADO DE 
    ESTAS, ASI QUE HABRIA QUE SACAR POR LAS DUDAS LOS DEJO NO SE  PERO CUANDO QUIERAN SE BORRA-->


<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>Escena</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Nombre)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Nombre)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
