﻿@model XHouse.Model.Escenas.Escena

<!-- Este es el viejo titulo del cuerpo----<h2>Edit</h2> -->

<!-- Solo cargue para editar el tema del NOmbre y la Descripcion como no se bien que hay que cargar
    Faltaria ver que va mas  Y TAMBIEN el tema del titulo me gusta mas este tamaño que el de detalles
    que es el mismo que el titulo de la escena -->

<!-- ACA EMPIEZA EL CODIGO NUEVO -->
@{
    ViewBag.Title = "Edit";
}

<div class="row">
    <div class="col-xs-12 col-md-10 col-md-offset-1">
 <div class="page-header">
        <h3>Editar datos de la Escena</h3>
      </div>

@using (Html.BeginForm(null, null, FormMethod.Post, new { @class = "form-horizontal", @role = "form" }))
 {
            @Html.ValidationSummary(true)
    
        
          
            <div class="form-group">
                <label for="Nombre" class="col-lg-2 control-label">Nombre</label>
                <div class="col-lg-3">
                    @Html.TextBoxFor(model => model.Nombre, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Nombre, String.Empty, new { @class = "help-block", @style ="color: red;" })
                </div>
            </div>
            <div class="form-group">
                <label for="Descripcion" class="col-lg-2 control-label">Descripción</label>
                <div class="col-lg-3">
                    @Html.TextBoxFor(model => model.Descripcion, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Descripcion, String.Empty, new { @class = "help-block", @style ="color: red;" })
                </div>
            </div>
            
    

            <div class="form-group">
                <div class="col-lg-offset-2 col-lg-3">
                    <button class="btn btn-primary">Guardar</button>
                    <a class="btn btn-danger" href="@Url.Action("Index")">Cancelar</a>
                </div>
            </div>
        }
   </div>
</div>

<!------------------FIN DE CODIGO NUEVO-------------------->

<!-------------------------------------------------------->
<!------------------Codigo viejo----------------------------
@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Escena</legend>

        @Html.HiddenFor(model => model.Id)

        <div class="editor-label">
            @Html.LabelFor(model => model.Nombre)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Nombre)
            @Html.ValidationMessageFor(model => model.Nombre)
        </div>

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

    ----------------fin de codigo viejo------------------->
<!-------------------------------------------------------->