﻿<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title - SIIA</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- Bootstrap -->
    <link href="~/Content/bootstrap/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="~/Content/bootstrap/bootstrap-theme.min.css" rel="stylesheet" media="screen">
    <link href="~/Content/base.css" rel="stylesheet"/>

    <!-- Para que la barra del tope no tape el contenido -->
    <style type="text/css">
      body { padding-top: 70px; }
    </style>
  </head>
  <body>
    <script type="text/javascript" src="~/Scripts/jquery-2.0.3.min.js"></script>
    <script type="text/javascript" src="~/Scripts/bootstrap.min.js"></script>

    @Html.Partial("_NavBar")
    @RenderBody()
    @RenderSection("Scripts", false)
  </body>
</html> 