﻿@if (Request.IsAuthenticated)
{
    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-user"></span>@User.Identity.Name <b class="caret"></b></a>
    <ul class="dropdown-menu">
        <li><a href="@Url.Action("Manage", "Account")">Administrar cuenta</a></li>
        <li><a href="javascript:document.getElementById('logoutForm').submit()">Salir
            @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" }))
            {
                @Html.AntiForgeryToken()
                
            }</a>
        </li>
        @*<li><a href="@Url.Action("LogOff", "Account")" data-form-method="post">Salir</a></li>*@
    </ul>
}
else
{
    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-user"></span>Login <b class="caret"></b></a>
    <ul class="dropdown-menu">
        <li><a href="@Url.Action("Login", "Account")">Ingresar</a></li>
        <li><a href="@Url.Action("Register", "Account")">Registrarse</a></li>
    </ul>
}
