﻿@{
 string controlador = ViewContext.Controller.ValueProvider.GetValue("controller").RawValue.ToString();
 string accion = ViewContext.Controller.ValueProvider.GetValue("action").RawValue.ToString();
}

@* Si estoy en la Home, oculto el menú que permite ir hacia atras *@
@if (controlador.Equals("Home", StringComparison.OrdinalIgnoreCase) && accion.Equals("Index", StringComparison.OrdinalIgnoreCase))
{
    <h1>¡Bienvenido a SIIA!</h1>
}
else
{
    <a id="backbutton" class="win-backbutton" href="@Url.Action("Index","Home")"></a>
    <h5>SIIA</h5>
    <div class="dropdown">
        <a class="header-dropdown dropdown-toggle accent-color" data-toggle="dropdown" href="#">
            Inicio
            <b class="caret"></b>
        </a>
        <ul class="dropdown-menu">
            <li>@Html.ActionLink("Escenas", "Index", "Escenas")</li>
            <li>@Html.ActionLink("Historial", "Index", "Historial")</li>
            <li>@Html.ActionLink("Zonas", "Index", "Zonas")</li>
            <li>@Html.ActionLink("Aparatos", "Index", "Aparatos")</li>
            <li>@Html.ActionLink("Módulos", "Index", "Modulos")</li>
            <li>@Html.ActionLink("Tipo Aparatos", "Index", "TipoAparatos")</li>
        </ul>
    </div>
}