﻿@model XHouse.Model.Aparatos.TipoAparato

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>TipoAparato</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Nombre)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Nombre)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Descripcion)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Descripcion)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Habilitado)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Habilitado)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.RangoTopeInferior)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.RangoTopeInferior)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.RangoTopeSuperior)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.RangoTopeSuperior)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.PuedeApagarse)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.PuedeApagarse)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.EstadoApagado)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.EstadoApagado)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
