﻿@model IEnumerable<XHouse.Model.Aparatos.TipoAparato>

@{
    ViewBag.Title = "Tipo de Aparatos";
}


<div class="row">
    <div class="col-xs-12 col-md-10 col-md-offset-1">

        <h3>Tipo de Aparatos</h3>

        <a class="btn btn-success white mt20 mb20" href="@Url.Action("Create", "TipoAparatos")">
            <span class="glyphicon glyphicon-plus"></span> Nuevo Tipo de Aparato
        </a>
        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Tipo Aparato</th>
                        <th>Habilitado</th>
                        <th>Rango Tope Inferior</th>
                        <th>Rango Tope Superior</th>
                        <th>Puede Apagarse</th>
                        <th>Estado Apagado</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@Html.DisplayFor(modelItem => item.Nombre)</td>
                            <td>@Html.DisplayFor(modelItem => item.Habilitado)</td>
                            <td>@Html.DisplayFor(modelItem => item.RangoTopeInferior)</td>
                            <td>@Html.DisplayFor(modelItem => item.RangoTopeSuperior)</td>
                            <td>@Html.DisplayFor(modelItem => item.PuedeApagarse)</td>
                            <td>@Html.DisplayFor(modelItem => item.EstadoApagado)</td>
                            <td>
                                <a class="btn btn-info btn-xs white" href="@Url.Action("Edit", "TipoAparatos", new { id = item.Id })">
                                    <span class="glyphicon glyphicon-pencil"></span> Editar
                                </a>
                    
                                <a class="btn btn-danger btn-xs white" onclick="return confirm('¿Esta seguro que desea eliminar el tipo de aparato?');" href="@Url.Action("Delete", "TipoAparatos", new { id = item.Id })">
                                    <span class="glyphicon glyphicon-remove"></span> Eliminar
                                </a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
